.mainContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    background-image: linear-gradient(rgb(53, 55, 175), rgba(255, 255, 255, 0));
    display: flex;
    justify-content: center;
}

.secondContainer{
    text-align: center;
    justify-self: center;
    align-self: center;
}

.form{
    border: 1px solid blue;
    padding: 1em;
    color: mintcream;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}