.mainContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    background-image: linear-gradient(rgb(53, 55, 175), rgba(255, 255, 255, 0));
    display: flex;
}

.secondContainer{
    text-align: center;
}

.backgroundImage{
    background-image: url("./graphic-enjoy-a-coffee-vector.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.form{
    align-self: center;
    padding: 1em;
    padding-left: 2em;
    color: mintcream;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}